.largeScreen{
  display:none;
}
.smallScreen{
  display:block;
}

.flexContainer{
  display:flex;
}
.flexCenter{
  align-items: center;
  justify-content: center;
}
.flexRow{
  flex-flow:row wrap;
}
main{
  margin-top:50px;
}

/*About*/
.introHero{
  background: darkgray url('../img/backgroundImg.jpeg') no-repeat center center;
  background-blend-mode: multiply;
  background-size:cover;
  height:400px;
  /*display: flex;
  align-items: center;
  justify-content: center;*/
}
.introHero h1{
  color:white;
  text-align: center;
}
.introDesc{
  background:white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow:row wrap;
  max-width:800px;
  margin:0 auto;
  padding: 2.5em 0;
}

.profilePic{
  border-radius:100%;
  /*height: 150px;*/
  width: 200px;
  height: 200px;
  border:10px solid darkgray;
}
.introDesc p{

  padding: 1.5em 0.5em;
  text-align:center;
  max-width: 400px;
}
.introDesc .fa{
  font-size: 24px;
}
.option {
    -webkit-animation-iteration-count: 5;
}
/*Work*/
.gallery{
  display:flex;
  flex-flow: row wrap;
  max-width:800px;
  margin:0 auto;
  align-items: center;
  justify-content: center;
}

.galleryItem{
  box-sizing: border-box;
  max-width:200px;
  max-height:200px;
  position: relative;
  overflow: hidden;
  margin:10px;
}
.galleryItem img{
  box-sizing: border-box;
  width:100%;
  border:none;
  margin:none;
}
.galleryItem figcaption{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top:3em;
  padding-top: 3em;
  background: #A8A8A8;
  background: rgba(0, 0, 0, .4);
  color: #fff;
  cursor: pointer;
  text-align: center;
  font-size: 1.2em;
  opacity: 0;
  transition: all 0.8s ease-out;
}


.bottom-top{
	top: 100%;
	left: 0;
}

.galleryItem:hover figcaption{
	top: 0;
	left: 0;
	transition: all 0.6s ease-out;
}

.galleryItem:hover figcaption {
	opacity: 1;
  margin-top:0;
}
/*Location*/
#location h2,#work h2, #work>p,#contact h2{
  text-align:center;
}
.flexWrapper{
  display:flex;
  flex-flow:row wrap;
  max-width:810px;
  margin:0 auto;
}
.leftSide{
  /*width:90%;*/
  height:300px;
  margin: 0 auto;

}
.rightSide{
  width:90%;
  margin:1%;
  text-align:center;
  box-sizing:border-box;
}
iframe{
  width:100%;
  height:100%;
  max-width:400px;
}
.rightSide li{
   list-style-type:none;
}
.rightSide h3{
  padding-left:40px;
}
/*Contact*/

contactWrapper{
  max-width:600px;
}
/*footer*/

footer .fa{
  font-size:48px;
  margin:10px;
}
footer .fa:hover{
  color:darkblue;
}

/**
 * Media Queries
 **/
@media screen and (min-width: 320px) {
  .wrapper::before {
      content: "320px";
      color: green;
      position: absolute;
      top: 0;
      left: 0;
      font-weight: 700;
      margin: 5px;
      font-size: 2em;
    }


}
@media screen and (min-width: 480px) {
  .wrapper::before {
      content: "480px";
      color: maroon;
  }
  .largeScreen{
    display:flex;
  }
  .smallScreen{
    display:none;
  }
}
@media screen and (min-width: 620px) {
  .wrapper::before {
      content: "620px";
      color: orange;
  }

  .leftSide{
    width:58%;
    height:300px;

  }

  .rightSide{
    width:40%;
    margin:1%;
    text-align: left;
    box-sizing:border-box;
  }
  /*.introDesc p{
    max-width: 600px;
  }*/
  .introDesc{
    flex-flow: column wrap;
  }
}
@media screen and (min-width: 810px) {
  .wrapper::before {
    content: "810px";
    color: black;
  }

}
@media screen and (min-width: 1400px) {
  .wrapper::before {
    content: "1400px";
    color: red;
  }

}
